package templates

script serverSaveForm() {
    const name = document.querySelector('#name').value;
    render_app("save-name-form", name)
    return false;
}

templ NameForm() {
    <div>
        <input type="text" placeholder="Type here" id="name" class="input input-bordered w-full max-w-xs" />
        <button class="btn" onclick={serverSaveForm()}>Submit</button>
    </div>
}