package templates


script removeName(){
    const form_content = go_wasm_handler("remove-name")
    render_content("#app-content", form_content)
}

templ Welcome(name string) {
    <div>
        <p>Welcome {name}</p>
        <button class="btn" onclick={removeName()}>Clear</button>
    </div>
}